canvas
{
	margin: auto;
	display: block;
}

div, form
{
	display: flex;
	align-items: center;
	gap: 8px;
}

p
{
	font-size: 1.1vw;
}

input
{
	width: 2vw;
	height: 1vh;
	font-size: min(1vw, 1vh);
}

button
{
	width: min(2vw, 2vh);
	height: min(2vw, 2vh);
}

button.defaultSize
{
	width: auto;
	height: auto;
}

select
{
	appearance: none;
	padding: 2px;
	width: 3vw;
	height: 2vh;
	font-size: min(1vw, 1vh);
}

.smallText
{
	font-size: 0.75vw;
}

.mediumText
{
	font-size: 1.35vw;
}

.bigText
{
	font-size: 2.75vw;
}

.largeText
{
	font-size: 4vw;
}

.loadingText
{
	font-size: 8vw;
}

.levelSelectSize
{
	transform: scale(4);
	transform-origin: top left;
}

.warningScreen
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999999;
	background: rgba(255, 255, 255);
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
}

.hoverReveal:hover + .hidden
{
	display: block;
}

.hidden
{
	display: none;
}

.noOutline
{
	outline: none;
}