canvas
{
	margin: auto;
	display: block;
}

div, form
{
	display: flex;
	align-items: center;
	gap: 8px;
}

p
{
	font-size: 1.1vw;
}

input
{
	width: 2vw;
	height: 1vh;
	font-size: min(1vw, 1vh);
}

button
{
	width: min(2vw, 2vh);
	height: min(2vw, 2vh);
}

select
{
	appearance: none;
	padding: 2px;
	width: 3vw;
	height: 2vh;
	font-size: min(1vw, 1vh);
}

.smallText
{
	font-size: 0.75vw;
}

.bigText
{
	font-size: 1.35vw;
}

.largeText
{
	font-size: 4vw;
}

.loadingText
{
	font-size: 8vw;
}

.levelSelectSize
{
	transform: scale(4);
	transform-origin: top left;
}

.hoverReveal:hover + .hidden
{
	display: block;
}

.hidden
{
	display: none;
}

.noOutline
{
	outline: none;
}